@model IEnumerable<Projects>
@{
   
    ViewData["Title"] = "Home Page";
}

    
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" asp-controller="Home" asp-action="Index">Projects</a>
        </li>

    </ul>
        <br>
        @*<div class="smallContainer">*@
            <div class="activeProjectTxt">
                <h5>CURRENT ACTIVE PROJECTS</h5>
            </div>
            <div class="belowAreCurrentProjectTxt">
                <h6>Below are all current active projects.</h6>
            </div>
            <table class="table table-bordered tableOutside col-lg-12">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Deadline</th>
                        <th>Project Manager</th>
                    </tr>
                </thead>
                <tbody class="table-striped">
                    @foreach(var project in Model)
                    {
                        <tr>
                            <td>@project.PrjName</td>
                            <td>@project.Description</td>
                            <td>@project.PrjDueDate.ToShortDateString()</td>
                            <td>@project.PrjMgr</td>
                        </tr>
                    }
                </tbody>
            </table>
        @*</div>*@
   