
.table > thead:first-child > tr:first-child > th, .table-bordered > tbody > tr > td {
    border: 2px solid #000;
}
.smallContainer {
    width: auto;
    height: 200px;
    padding: 10px;
    border: 2px solid gray;
    margin: 0;
}
.activeProjectTxt {
    background-color: #206999;
    padding: 1px;
    color: white;
    margin-bottom: 15px;
}
.belowAreCurrentProjectTxt{
    margin-top: 30px;
    margin-bottom: 30px;
}
h5, h6 {
    padding-left: 15px;

}

.table {
    width: 97%;
    margin-left: 15px;
}
tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.sideTxt {
    font-size: 12px;
    text-align: center;
    color: lightblue;
}