<ul class="nav side-menu">
    <li>
        <a href="/"><i class="fa fa-home"></i> Home </a>
    </li>
    <li><a href="@Url.Action("Index","Project")"><i class="fa fa-edit"></i> Projects</a></li>
    <li><a href="@Url.Action("Index","Requirement")"><i class="fa fa-edit"></i> Requirements</a></li>
    <li><a href="@Url.Action("Index","Assignment")"><i class="fa fa-edit"></i> Assignments</a></li>
    <li> <a href="@Url.Action("Index","Reportings")"><i class="fa fa-edit"></i> Reporting </a> </li>


</ul>