<ul class="nav nav-tabs" id="projectTabs">
    <li class="nav-item">
        <a class="nav-link active" asp-controller="Projects" id="viewTab" data-toggle="tab" asp-action="Index">View</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Projects" id="newTab" data-toggle="tab" asp-action="New">New</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Projects" id="editTab" data-toggle="tab" asp-action="Index">Edit</a>
    </li>
</ul>
<br>