@model PMTool.Models.ViewModels.ProjectViewViewModel

@{
    ViewData["Title"] = "Project";
}


<ul class="nav nav-tabs" id="projectTabs">
    <li class="nav-item">
        <a class="nav-link active" asp-controller="Projects" id="viewTab" data-toggle="tab" asp-action="Index">View</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Projects" id="newTab" data-toggle="tab" asp-action="Index">New</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Projects" id="editTab" data-toggle="tab" asp-action="Index">Edit</a>
    </li>
</ul>
<br>

<div class="row">
    <form asp-controller="Projects" asp-action="Index" method="post">

        @Html.LabelFor(m => m.Projects, "Projects:")
        @Html.DropDownListFor(m => m.SelectedProjectID,Model.Projects, "--Select Projects--")
        @Html.ValidationMessageFor(model => model.Projects, "", new { @class = "text-danger" })
        <input type="submit" name="name" value="Submit" />
    </form>
</div>

@section Scripts{
        <script type="text/javascript" src="~/js/Projects.js"></script>
}