
@{
    ViewData["Title"] = "New";
}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Projects" asp-action="Index">View</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-controller="Projects" asp-action="NewView">New</a>
    </li>
    <li class="nav-item">
        <a class="" asp-controller="Projects" asp-action="Index">Edit</a>
    </li>
</ul>
<br>